**Referencias**

https://www.youtube.com/watch?v=JL9RMCS4Sho

https://www.youtube.com/watch?v=PqiwVp53ftU

**Carga de librer√≠as**

In [3]:
import pandas as pd
import openpyxl
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.chart import BarChart, Reference
import string
#import mathplotlib

**Leer un archivo**

In [41]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")
df
#df_names = df.set_index('Name')
#df_names

#df1 = df_names.loc['Braund, Mr. Owen Harris':'Braund, Mr. Owen Harris', :]
#df2 = df_names.loc['Cumings, Mrs. John Bradley (Florence Briggs Thayer)':'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', :]
#df3 = df_names.loc['Heikkinen, Miss. Laina':'Heikkinen, Miss. Laina', :]
#df1

#clients = pd.concat([df1, df2, df3], axis=0,)
#clients

lista = ['Braund, Mr. Owen Harris', 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)']
f =df["Name"].apply(lambda pais: pais in lista)
df.loc[f, :]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

**Hacer una tabla pivote con Pandas**

In [ ]:
report_table = excel_file.pivot_table(index='Gender',
                                      columns='Product line',
                                      values='Total',
                                      aggfunc='sum').round(0)
report_table

**Exportar una tabla pivote a un archivo de excel**

In [ ]:
report_table.to_excel('report_2021.xlsx',
                      sheet_name='Report',
                      startrow=4)