**Referencias**

https://www.youtube.com/watch?v=JL9RMCS4Sho

https://www.youtube.com/watch?v=PqiwVp53ftU

**Carga de librerías**

In [8]:
import pandas as pd
import openpyxl
from openpyxl import load_workbook
from openpyxl.styles import Font
from openpyxl.chart import BarChart, Reference
import string
#import mathplotlib

**Cargar datos desde página de Banco Mundial**

In [47]:
# Carga de los datos originales
df = pd.read_excel("https://api.worldbank.org/v2/es/indicator/FP.CPI.TOTL.ZG?downloadformat=excel", sheet_name= "Data", header= 3)

# Datos en un período seleccionado: 2000 - 2020
df_seleccionado = df.drop(columns=['Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999'])
df_seleccionado

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,4.044021,2.883604,3.315247,3.656365,2.529129,3.397787,3.608024,5.392568,8.955987,...,4.316297,0.627472,-2.372065,0.421441,0.474764,-0.931196,-1.028282,3.626041,4.257462,NaN
1,NaN,8.601485,5.840354,8.763752,7.449700,5.023421,8.558038,8.898164,8.450775,12.566645,...,8.971206,9.158707,5.746949,5.370290,5.250171,6.594604,6.399343,4.720811,3.923372,4.978097
2,Afganistán,NaN,NaN,NaN,NaN,NaN,12.686269,6.784597,8.680571,26.418664,...,11.804186,6.441213,7.385772,4.673996,-0.661709,4.383892,4.975952,0.626149,2.302373,NaN
3,NaN,2.530775,4.361529,3.188693,1.760904,0.694336,5.631634,4.415900,3.607368,8.449722,...,4.018699,4.578375,2.439201,1.758052,2.130268,1.494564,1.764635,1.784050,1.758565,2.425007
4,Angola,324.996872,152.561022,108.897436,98.224144,43.542107,22.953514,13.305210,12.251497,12.475829,...,13.482468,10.277905,8.777814,7.280387,9.150372,30.695313,29.843587,19.628608,17.081215,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,NaN,NaN,NaN,-1.084813,-1.064727,-1.385189,0.621647,4.358497,9.350418,...,7.336418,2.476738,1.767324,0.428958,-0.536929,0.273169,1.488234,1.053798,2.675992,0.198228
262,"Yemen, Rep. del",4.590000,11.911591,12.238534,10.832361,12.515095,11.811264,10.844799,7.905118,18.976257,...,19.543562,9.885387,10.968442,8.104726,NaN,NaN,NaN,NaN,NaN,NaN
263,Sudáfrica,5.338952,5.701905,9.494707,5.679418,-0.692030,2.062852,3.243902,6.177812,10.055282,...,5.017158,5.723944,5.776404,6.136020,4.509208,6.594604,5.181082,4.504577,4.124351,3.223885
264,Zambia,26.030412,21.393782,22.233345,21.401578,17.967789,18.324440,9.019572,10.657350,12.445579,...,6.429397,6.575900,6.977676,7.806876,10.110593,17.869730,6.577312,7.494572,9.150316,15.732585
265,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.466130,3.725327,1.634950,-0.197785,-2.430968,-1.543670,0.893962,10.618866,NaN,NaN

**Información a considerar**

**Hacer una tabla pivote con Pandas**

In [28]:
report_table = df.pivot_table(index='Country Name', columns='', values='PCI', aggfunc='sum').round(2)
report_table

KeyError: 'PCI'

**Exportar una tabla pivote a un archivo de excel**

In [1]:
report_table.to_excel('report_2021.xlsx',
                      sheet_name='Report',
                      startrow=4)

NameError: name 'report_table' is not defined